# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kbala\Desktop\Programozás\CL\2. Modul\Week pair 1\super-sprinter-3000-python-Kbalazs3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
